<div th:fragment="header-css">
  <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
  <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
  <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" />
  <link href="assets/css/style.bundle.css" rel="stylesheet" />
  <link href="assets/css/themes/layout/header/base/light.css" rel="stylesheet" />
  <link href="assets/css/themes/layout/header/menu/light.css" rel="stylesheet" />
  <link href="assets/css/themes/layout/brand/dark.css" rel="stylesheet" />
  <link href="assets/css/themes/layout/aside/dark.css" rel="stylesheet" />
  <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
</div>

<div th:fragment="header-js">
  <script type="text/javascript" src="assets/js/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="assets/plugins/global/plugins.bundle.js"></script>
  <script type="text/javascript" src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
  <script type="text/javascript" src="assets/js/scripts.bundle.js"></script>
  <script type="text/javascript" src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
  <script type="text/javascript" src="assets/js/pages/widgets.js"></script>
  <script type="text/javascript" src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
  <script type="text/javascript" src="assets/js/pace.js"></script>
  <script type="text/javascript" src="assets/js/jquery.loading.js"></script>
  <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.0.1/js/buttons.html5.styles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.0.1/js/buttons.html5.styles.templates.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.js"></script>
  <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</div>